#DOTFILES_SSH_EMAIL=''
#DOTFILES_SSH_PASSPHRASE=''
#DOTFILES_GIT_NAME=''
#DOTFILES_GIT_EMAIL=''

# y or n
DOTFILES_IGNORE_UNCOMMITED='y'
DOTFILES_PUSH_COMMITS='y'

# y or n
DOTFILES_DO_GIT_CONFIG='y'
DOTFILES_DO_GIT_SYNC='y'
DOTFILES_DO_SYMLINK='y'
DOTFILES_DO_HOSTS='y'
DOTFILES_DO_OSX='y'
DOTFILES_DO_APP_STORE='y'
DOTFILES_DO_BREW='y'
DOTFILES_DO_NPM='y'
