# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Misc
.extra

# Git config is personalized
config/.gitconfig

# Ignore Sublime Text Package Control frequently changed files
settings/sublime/Package Control.last-run
settings/sublime/Package Control.ca-list
settings/sublime/Package Control.ca-bundle
settings/sublime/Package Control.system-ca-bundle
settings/sublime/Package Control.cache/
settings/sublime/Package Control.ca-certs/

# Ignore GoSublime logs
settings/sublime/GoSublime/osx-x64/log.txt
