DOTFILES_ROOT="$HOME/.dotfiles"

#DOTFILES_SSH_EMAIL=''
#DOTFILES_SSH_PASSPHRASE=''
#DOTFILES_GIT_NAME=''
#DOTFILES_GIT_EMAIL=''

DOTFILES_IGNORE_UNCOMMITED='y'
DOTFILES_PUSH_COMMITS='y'

DOTFILES_DO_GIT_CONFIG='y'
DOTFILES_DO_GIT_SYNC='y'
DOTFILES_DO_SYMLINK='y'
DOTFILES_DO_HOSTS='y'
DOTFILES_DO_MACOS='y'
DOTFILES_DO_APP_STORE='y'
DOTFILES_DO_BREW='y'
DOTFILES_DO_NPM='y'

DOTFILES_MACOS_COMPUTER_NAME=''
DOTFILES_MACOS_LOCALE_US='y'
DOTFILES_MACOS_TIMEZONE_EST='y'
DOTFILES_MACOS_DOCK_CLEAR='n'
DOTFILES_DO_PREFERENCES='y'

DOTFILES_DO_BREW_BASH='y'
DOTFILES_DO_BREW_TOOLS='y'
DOTFILES_DO_BREW_OTHER='y'
DOTFILES_DO_BREW_CASK='y'
DOTFILES_DO_BREW_QUICKLOOK='y'
