# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Set the default editor
if [ -f /usr/local/bin/subl ]; then
	export EDITOR='subl -w';
	export GIT_EDITOR='subl -n -w';
else
	export EDITOR="vim";
fi;

# Set 256 color terminal mode
if [[ $COLORTERM = gnome-* && $TERM = xterm ]] && infocmp gnome-256color >/dev/null 2>&1; then
	export TERM='gnome-256color';
elif infocmp xterm-256color >/dev/null 2>&1; then
	export TERM='xterm-256color';
fi;

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";
# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Add extras to Git shell prompt goodies
export GIT_PS1_SHOWDIRTYSTATE=true;
export GIT_PS1_SHOWUNTRACKEDFILES=true;
export GIT_PS1_SHOWSTASHSTATE=true;

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications";