"*":
  "activate-power-mode":
    autoToggle: false
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "autocomplete-go":
    suppressBuiltinAutocompleteProvider: false
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "linter-jshint"
    ]
    projectHome: "/Users/gwood/github.com"
    telemetryConsent: "limited"
    themes: [
      "solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "d6fd9dc2-1081-88d5-0e10-90857b041b7a"
  "go-plus":
    test: {}
  "gometalinter-linter": {}
  "less-than-slash": {}
  linter: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-ui-default": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui": {}
  "todo-show": {}
  welcome:
    showOnStartup: false
".git-commit.text":
  editor:
    showIndentGuide: true
".html.mustache.text":
  editor:
    showIndentGuide: true
".shell.source":
  editor:
    autoIndent: true
    showIndentGuide: true
